<ion-tabs class="bottom-tabs">
  <ion-tab-bar slot="bottom" class=" border-top">
    <ion-tab-button (click)="handleTab(0)">
      <ion-icon id="hometab" name="home"></ion-icon>
    </ion-tab-button>
    <ion-tab-button (click)="handleTab(1)">
      <ion-icon id="searchtab" name="search-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button (click)="handleTab(2)">
      <ion-icon id="addtab" name="add-circle-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button (click)="handleTab(3)">
      <ion-icon id="liketab" name="heart-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button (click)="handleTab(4)">
      <ion-icon id="profiletab" name="person-circle-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>